#container{
display: grid;
grid-template-columns: 1fr 2fr;
margin:50px;


}

#leftdiv{

}

#rightdiv{


}

#handwatch{
    width:500px;
    height:400px;
    display: inline;

}

#secondcontainer{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#button1{
border-radius: 50%;
background-color: black;
width:30px;
height:30px;
border:0px;
}
#button2{
    border-radius: 50%;
background-color: rgb(58, 54, 54);
width:30px;
height:30px;
border:0px;
}
#button3{
    border-radius: 50%;
background-color: rgb(143, 138, 138);
width:30px;
height:30px;
border:0px;

}
#sizes{
    color:black;
    margin-right: 60px;
}

.sizebuttons{
    
    background-color: white;
    
    border:1px gray solid;
    height:30px;
    width:30px;
    color:gray;
}
#bigbutton{
    
    color: white;
    background-color: rgb(16, 62, 216);
    border:0px;
    height:30px;
    width:300px;
    
}
    
